
@{
    ViewBag.Title = "Afiliados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
    <li class="breadcrumb-item active">Afiliados</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i>Lista de afiliados
    </div>


    <div class="card-body">
        <div class=" row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Primer Nombre</th>
                    <th>Segundo Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Sexo</th>
                    <th>Correo Electronico</th>
                    <th>Telefono</th>
                    <th>Fecha de proximo pago</th>
                    <th>Activo</th>
                    <th>Pago Vencido</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Afiliados</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input type="hidden" id="txtid" value="0" />

                <div class="row g-2">


                    <div class="col-sm-6">
                        <label for="txtPrimerNombre" class="form-label">Primer Nombre</label>
                        <input type="text" class="form-control" id="txtPrimerNombre" autocomplete="off" required>
                    </div>
                    <div class="valid-feedback">Looks good!</div>

                    <div class="col-sm-6">
                        <label for="txtSegundoNombre" class="form-label">Segundo Nombre</label>
                        <input type="text" class="form-control" id="txtSegundoNombre" autocomplete="off">
                    </div>


                    <div class="col-sm-6">
                        <label for="txtPrimerApellido" class="form-label">Primer Apellido</label>
                        <input type="text" class="form-control" id="txtPrimerApellido" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtSegundoApellido" class="form-label">Segundo Apellido</label>
                        <input type="text" class="form-control" id="txtSegundoApellido" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtSexo" class="form-label">Sexo</label>
                        <input type="text" class="form-control" id="txtSexo" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtFechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" id="txtFechaNacimiento" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtCorreoElectronico" class="form-label">Correo Electronico</label>
                        <input type="email" class="form-control" id="txtCorreoElectronico" autocomplete="off" placeholder="name@example.com">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtNoIdentificacion" class="form-label">No de Identificacion</label>
                        <input type="text" class="form-control" id="txtNoIdentificacion" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtDireccion" class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="txtDireccion" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtTelefono" class="form-label">Telefono de contacto</label>
                        <input type="text" class="form-control" id="txtTelefono" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="cboactivo" class="form-label">Activo</label>
                        <select id="cboactivo" class="form-select">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>


                </div>

                <div class="row mt-2">
                    <div class="col-12">

                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>

                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="GuardarAfiliado()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="GuardarAfiliado()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal2 -->
<div class="modal fade" id="FormModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Afiliados-Pagos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input type="hidden" id="txtid" value="0" />

                <div class="row g-2">


                    <div class="col-sm-6">
                        <label for="txtFechaUltimoPago" class="form-label">Fecha Ultimo Pago</label>
                        <input type="date" class="form-control" id="txtFechaUltimoPago" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtFechaProximoPago" class="form-label">Fecha Proximo Pago</label>
                        <input type="date" class="form-control" id="txtFechaProximoPago" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="cbovencido" class="form-label">Pago Vencido</label>
                        <select id="cbovencido" class="form-select">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>


                </div>

                <div class="row mt-2">
                    <div class="col-12">

                        

                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="GuardarPago()">Aplicar Pago</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="FormModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="GuardarPago()">Aplicar Pago</button>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script>

        var tabledata;
        var filaSeleccionada;
        tabledata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {

                url: '@Url.Action("ListarAfiliados", "Mantenedor")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "PrimerNombre" },
                { "data": "SegundoNombre" },
                { "data": "PrimerApellido" },
                { "data": "SegundoApellido" },
                { "data": "Sexo"},
                { "data": "CorreoElectronico" },
                { "data": "Telefono" },
                { "data": "FechaProximoPago" },
                {
                    "data": "Activo", "render": function (valor) {
                        if (valor) {
                            return 'Si'
                        } else {
                            return 'No'
                        }

                    }
                },

                {
                    "data": "PagoVencido", "render": function (valor1) {
                         if (valor1) {
                           return '<span class="badge bg-danger">SI</span>'
                        } else {
                          return '<span class="badge bg-success">NO</span>'
                        }

                        }
                        },
                        

                   
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-primary btn-sm ms-1 btn-pagar"><i class="fas fa-calculator"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-1"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }
            ],
            createdRow: function (row, data, index) {
               
                str = data.FechaProximoPago;
                fechaActual1 = Date.now();
                FechaActual = new Date(fechaActual1);
                FechaActual.setHours(0, 0, 0, 0);
                [ano, mes, dia] = str.split('-');
                Fecha = new Date(+ano, +mes - 1, +dia);
                Fecha1 = new Date(+ano, +mes - 1, +dia);
                fechaMaxima = new Date(Fecha1.setDate(Fecha1.getDate() + 5));
                fechaMaxima.setHours(0, 0, 0, 0);
                Fecha.setHours(0, 0, 0, 0);
                
                //si la fecha de vencimiento es mayor que la fecha del dia de hoy
                if (Fecha.getTime() >= FechaActual.getTime()) {
                    $('td', row).eq(9).text("NO");
                    //si la fecha de vencimiento es menor que la fecha actual pero la fecha de maxima es mayor a la fecha actual
                } else if ((Fecha.getTime() < FechaActual.getTime()) && (fechaMaxima.getTime() > FechaActual.getTime())) {
                    $('td', row).eq(9).text("SI");
                    $('td', row).css({
                        'background-color': '#FFFF00',
                        'color': 'black'
                    });
                    //si la fecha maxima de vencimiento es menor que la fecha actual
                } else if ((Fecha.getTime() < FechaActual.getTime()) && (fechaMaxima.getTime() < FechaActual.getTime()) ) {
                    $('td', row).eq(9).text("SI");
                    $('td', row).css({
                        'background-color': '#FF0000',
                        'color': 'white'
                    });
                }
                
            },
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
            }
        });

        function abrirModal(json) {

            $("#FormModal").modal("show");

            $("#txtid").val(0);
            $("#txtPrimerNombre").val("");
            $("#txtSegundoNombre").val("");
            $("#txtPrimerApellido").val("");
            $("#txtSegundoApellido").val("");
            $("#txtFechaNacimiento").val("");
            $("#txtSexo").val("");
            $("#txtNoIdentificacion").val("");
            $("#txtDireccion").val("");
            $("#txtTelefono").val("");
            $("#cboactivo").val(json.Activo = 1);

            if (json != null) {
                $("#txtid").val(json.IdAfiliado);
                $("#txtPrimerNombre").val(json.PrimerNombre);
                $("#txtSegundoNombre").val(json.SegundoNombre);
                $("#txtPrimerApellido").val(json.PrimerApellido);
                $("#txtSegundoApellido").val(json.SegundoApellido);
                $("#txtFechaNacimiento").val(json.FechaNacimiento);
                $("#txtSexo").val(json.Sexo);
                $("#txtCorreoElectronico").val(json.CorreoElectronico);
                $("#txtNoIdentificacion").val(json.NoIdentificacion);
                $("#txtDireccion").val(json.Direccion);
                $("#txtTelefono").val(json.Telefono);
                $("#cboactivo").val(json.Activo == true? 1 : 0);

            }

        }

        $("#tabla tbody").on("click", '.btn-editar', function () {
            var tr = $(this).parents('tr');
            var parentRow = $(this).closest("tr").prev()[0];
            var rowData = tabledata.row(parentRow).data();

            if (tr.is('tr.child')) {

                abrirModal(rowData);
            }
            else {
                filaSeleccionada = $(this).closest("tr");
                var data = tabledata.row(filaSeleccionada).data();
                abrirModal(data);
            }


        })
        // abrir modal relacionado a los pagos

        function abrirModal2(json) {

            $("#FormModal2").modal("show");

            $("#txtid").val(0);
            $("#txtFechaUltimoPago").val("");
            $("#txtFechaProximoPago").val("");
            $("#cbovencido").val(json.PagoVencido = 1);

            if (json != null) {
                $("#txtid").val(json.IdAfiliado);
                $("#txtFechaUltimoPago").val(json.FechaUltimoPago);
                $("#txtFechaProximoPago").val(json.FechaProximoPago);
                $("#cboactivo").val(json.PagoVencido == true ? 1 : 0);

            }

        }
        $("#tabla tbody").on("click", '.btn-pagar', function () {
            filaSeleccionada = $(this).closest("tr");
            var data = tabledata.row(filaSeleccionada).data();
            abrirModal2(data)


        })
        // aqui el procedimiento de guardar.

        function GuardarAfiliado() {

            var Afiliado = {

                IdAfiliado: $("#txtid").val(),
                Activo: $("#cboactivo").val() == 1 ? true : false,
                PrimerNombre: $("#txtPrimerNombre").val(),
                SegundoNombre: $("#txtSegundoNombre").val(),
                PrimerApellido: $("#txtPrimerApellido").val(),
                SegundoApellido: $("#txtSegundoApellido").val(),
                FechaNacimiento: $("#txtFechaNacimiento").val(),
                Sexo: $("#txtSexo").val(),
                CorreoElectronico: $("#txtCorreoElectronico").val(),
                NoIdentificacion: $("#txtNoIdentificacion").val(),
                Direccion: $("#txtDireccion").val(),
                Telefono: $("#txtTelefono").val()
            }

            jQuery.ajax({
                url: '@Url.Action("GuardarAfiliado", "Mantenedor")',
                type: "POST",
                data: JSON.stringify({ objeto: Afiliado }),
                dataType: "json",
                contentType: "application/json; charset=utf -8",
                success: function (data) {



                    //AFILIADO NUEVO
                    if (Afiliado.IdAfiliado == 0) {

                        if (data.resultado != 0) {

                            Afiliado.IdAfiliado = data.resultado;
                            tabledata.row.add(Afiliado).draw(false);
                            $("#FormModal").modal("hide");

                        } else {

                            alert(data.mensaje);
                           // $("#mensajeError").text(data.mensaje);

                        }
                    }

                    else {

                        //tabledata.row.add(Afiliado).draw(false);
                        $("#FormModal").modal("hide");
                        location.reload();


                        //REDIBUJAR LA TABLA
                        //location.reload();
                    }

                },
                error: function (error) {
                    console.log(error)

                },
                beforeSend: function () {

                }
            });

            //if (Usuario.IdUsuario == 0) {

            //    tabledata.row.add(Usuario).draw(false);
            //} else {

            //    tabledata.row(filaSeleccionada).data(Usuario).draw(false);

            //}

            //$("#FormModal").modal("hide");

        }

        function GuardarPago() {

            sumarMes()

            var Afiliado = {

                IdAfiliado: $("#txtid").val(),
                PagoVencido: $("#cbovencido").val() == 1 ? true : false,
                FechaUltimoPago: $("#txtFechaUltimoPago").val(),
                FechaProximoPago: $("#txtFechaProximoPago").val()
            }

            jQuery.ajax({
                url: '@Url.Action("GuardarPago", "Mantenedor")',
                type: "POST",
                data: JSON.stringify({ objeto: Afiliado }),
                dataType: "json",
                contentType: "application/json; charset=utf -8",
                success: function (data) {



                    //AFILIADO NUEVO
                    if (Afiliado.IdAfiliado == 0) {

                        if (data.resultado != 0) {

                            Afiliado.IdAfiliado = data.resultado;
                            tabledata.row.add(Afiliado).draw(false);
                            $("#FormModal2").modal("hide");

                        } else {

                            alert(data.mensaje);
                           // $("#mensajeError").text(data.mensaje);

                        }
                    }

                    else {

                        //tabledata.row.add(Afiliado).draw(false);
                        $("#FormModal2").modal("hide");
                        location.reload();


                        //REDIBUJAR LA TABLA
                        //location.reload();
                    }

                },
                error: function (error) {
                    console.log(error)

                },
                beforeSend: function () {

                }
            });

            
            //if (Usuario.IdUsuario == 0) {

            //    tabledata.row.add(Usuario).draw(false);
            //} else {

            //    tabledata.row(filaSeleccionada).data(Usuario).draw(false);

            //}

            //$("#FormModal").modal("hide");

        }

        /*function prueba() {
            var fechaactual = $("#txtFechaUltimoPago").val(),
            var dias = Number(30);
            var fechafinal = $("#txtFechaProximoPago").val();
            fechaactual = fechaactual.split("-");
            fechaactual = new Date(fechaactual[0], fechaactual[1] - 1, fechaactual[2]);
            fechaactual.setDate(fechaactual.getDate() + dias);
            fechafinal.valueAsDate = null;
            fechafinal.valueAsDate = fechaactual;
        }*/
        function sumarMes() {

            
            str = $("#txtFechaUltimoPago").val();
            [ano, mes, dia] = str.split('-')
            console.log(ano);
            console.log(mes);
            console.log(dia);
            Fecha = new Date(+ano, +mes - 1, +dia);
            fechanueva = new Date(Fecha.setMonth(Fecha.getMonth() + 1));
            fechanueva1 = fechanueva.toISOString().substring(0, 10);
            console.log(Fecha);
            console.log(fechanueva.toISOString().substring(0,10));
            $("#txtFechaProximoPago").val(fechanueva1)
            return fechanueva1

        }

        function pruebaFecha() {
            f1 = new Date(2022, 9, 14);
            fechaPrimaria = Date.now();
            fechaFinal = new Date(fechaPrimaria);
            console.log("esta es la fecha primaria " + fechaPrimaria);
            console.log("esta es la fecha final " + fechaFinal)
            f1.setHours(0, 0, 0, 0);
            fechaFinal.setHours(0, 0, 0, 0);
            console.log("esta es la fecha F1 sin la hora " + f1);
            console.log("esta es la fecha final sin la hora " + fechaFinal);
            if (f1.getTime() == fechaFinal.getTime()) {
                console.log("son la misma fecha");
            }
            return fechaFinal
        }
        
    </script>
}
